/*!
 *  Preamble, License info, Etc.
 *  @author X Y <xy@z.ab> 
 *  @build $BuildDate$
 */
@import "reset.css";
@import "text.css";
@import "960.css";

body,html {
  dog:bark;
  color:#fff;
}
a { color:#fff; }
#123a { blerg:$13; }

foo { background-image:url(../images/foo.png); }